@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
    margin: 0 !important;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(pic/bg.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
        width: 85%;
        margin: auto;
        padding: 20px 0;
        align-items: center;
        display: flex;
        justify-content: space-between;

}
.logo{
    width: 170px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li a::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li a:hover::after{
    width: 100%;
}
.content
{
    width: 100%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.h1{
    margin-top: 80px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
span{
    background: #009688;
    height: 100px;
    width: 0;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
